# change_pwd.sh Config file
# Copy this file to .env.change_pwd and replace with your actual values

UP_CLIENT_ID=""
USERNAME=""
PWD=""
NEW_PASSWORD=""

SESSION_ID=""


# Set this to 1 to initiate login / 0 - to update password
INIT_AUTH=1