# test_agent.sh Config file
# Copy this file to .env.test_agent and replace with your actual values

ACCOUNT_ID=""
AGENTCORE_RUNTIME_ID="medtrax_dev_runtime-XXXXXXXXXXX"


SESSION_ID="test-mtx-session-id-xxxxxxdfsdfdfdfdf"

USERNAME=""

# Access Token
TOKEN=""